.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  position: relative;

  .menu {
    display: flex;
    font-size: 1.1rem;
    color: white;
    align-items: center;

    span {
      margin-right: 35px;
      cursor: pointer;
    }

    .contact {
      background-color: white;
      color: black;
      padding: 8px 20px;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.25s ease-in-out;
      display: flex;

      &:hover {
        background-color: #6eceff;
      }
    }
  }

  .mobileToggle {
    display: none;
    cursor: pointer;
  }
}

.mobileMenu {
  position: absolute;
  background-color: white;
  width: 80%;
  top: 100px;
  left: 50%;
  margin-left: -39%;
  padding: 50px 0;
  color: hsl(232, 10%, 55%);
  display: none;

  &.active {
    display: block;
  }

  & > * {
    cursor: pointer;
  }

  h2 {
    padding: 20px;
  }

  .mobileContact {
    background-color: hsl(51, 100%, 49%);
    padding: 20px 0;
    width: 40%;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    display: none !important;
  }

  .mobileToggle {
    display: flex !important;
  }
}

@media screen and (min-width: 767.98px) {
  .mobileMenu {
    display: none !important;
  }
}
