.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbf8;
  padding: 90px 0;

  h1 {
    color: #aeaeae;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  .clients {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .clients {
    flex-direction: column;
  }
}
